workflows/01_sercop_ocds_poller.json
{
  "name": "01 SERCOP OCDS Poller",
  "nodes": [
    {
      "parameters": {},
      "id": "d0fc2f9f-4f1d-4c14-9f68-9d298b2f7d00",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        160
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "d0fc2f9f-4f1d-4c14-9f68-9d298b2f7d01",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT rule_type, scope, keyword, family, weight, notes FROM keyword_rules WHERE active = TRUE AND scope IN ('all', 'ocds') ORDER BY rule_type ASC, weight DESC, keyword ASC;"
      },
      "id": "d0fc2f9f-4f1d-4c14-9f68-9d298b2f7d02",
      "name": "Load Keyword Rules",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        520,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "QX2Kr6LtP0sGmA1b",
          "name": "Local Postgres CRM"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rules = $items('Load Keyword Rules').map((item) => item.json);\nconst uniqueRules = [];\nconst seen = new Set();\nconst ignoredKeywords = new Set(['acido', 'base']);\nconst preferredKeywords = [\n  'laboratorio',\n  'reactivo',\n  'reactivos',\n  'insumo',\n  'insumos',\n  'material de laboratorio',\n  'materiales de laboratorio',\n  'insumos quimicos',\n  'insumo quimico',\n  'quimica',\n  'quimico',\n  'reagente',\n  'vidrieria',\n  'micropipeta',\n];\nconst maxSearchTerms = Number($env.OCDS_MAX_SEARCH_TERMS || 12);\n\nfor (const rule of rules) {\n  if (String(rule.rule_type || '') !== 'include') {\n    continue;\n  }\n\n  const keyword = String(rule.keyword || '').trim().toLowerCase();\n  if (!keyword || seen.has(keyword) || ignoredKeywords.has(keyword)) {\n    continue;\n  }\n\n  seen.add(keyword);\n  uniqueRules.push({\n    json: {\n      searchKeyword: keyword,\n      family: rule.family || '',\n      weight: Number(rule.weight || 1) || 1,\n    },\n  });\n}\n\nuniqueRules.sort((left, right) => {\n  const leftKeyword = String(left.json.searchKeyword || '').trim().toLowerCase();\n  const rightKeyword = String(right.json.searchKeyword || '').trim().toLowerCase();\n  const leftPreferred = preferredKeywords.indexOf(leftKeyword);\n  const rightPreferred = preferredKeywords.indexOf(rightKeyword);\n\n  if (leftPreferred !== rightPreferred) {\n    if (leftPreferred === -1) {\n      return 1;\n    }\n\n    if (rightPreferred === -1) {\n      return -1;\n    }\n\n    return leftPreferred - rightPreferred;\n  }\n\n  if ((right.json.weight || 0) !== (left.json.weight || 0)) {\n    return (right.json.weight || 0) - (left.json.weight || 0);\n  }\n\n  return leftKeyword.localeCompare(rightKeyword);\n});\n\nreturn uniqueRules.slice(0, maxSearchTerms);"
      },
      "id": "d0fc2f9f-4f1d-4c14-9f68-9d298b2f7d03",
      "name": "Seed Search Terms",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        320
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://datosabiertos.compraspublicas.gob.ec/PLATAFORMA/api/search_ocds?year=' + encodeURIComponent($env.OCDS_YEAR || String(new Date().getFullYear())) + '&search=' + encodeURIComponent($json.searchKeyword) + '&page=1' }}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "d0fc2f9f-4f1d-4c14-9f68-9d298b2f7d04",
      "name": "Fetch OCDS Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        320
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const threshold = Number($env.MATCH_THRESHOLD || 60);\nconst rules = $items('Load Keyword Rules').map((item) => item.json);\nconst includeRules = rules.filter((rule) => String(rule.rule_type || '') === 'include');\nconst excludeRules = rules.filter((rule) => String(rule.rule_type || '') === 'exclude');\nconst candidates = new Map();\n\nfunction extractProcessCode(ocid) {\n  const raw = String(ocid || '').replace(/^ocds-[^-]+-/i, '').trim();\n  return /-d{3,}$/.test(raw) ? raw.replace(/-d{3,}$/, '') : raw;\n}\n\nfunction asArray(payload) {\n  if (Array.isArray(payload)) {\n    return payload;\n  }\n\n  if (Array.isArray(payload?.data)) {\n    return payload.data;\n  }\n\n  if (Array.isArray(payload?.records)) {\n    return payload.records;\n  }\n\n  return [];\n}\n\nfunction pick(record, keys) {\n  for (const key of keys) {\n    const value = record?.[key];\n    if (value !== undefined && value !== null && value !== '') {\n      return value;\n    }\n  }\n\n  return '';\n}\n\nfunction asNumber(value) {\n  const normalized = String(value ?? '').replace(/,/g, '');\n  const parsed = Number(normalized);\n  return Number.isFinite(parsed) ? parsed : null;\n}\n\nfunction normalizeText(value) {\n  return String(value ?? '').toLowerCase();\n}\n\n\nfunction hasStrongChemistrySignal(haystack) {\n  return [\n    /reactiv/i,\n    /reagent/i,\n    /insumos?/i,\n    /material(?:es)? de laboratorio/i,\n    /material(?:es)? de referencia/i,\n    /est[aá]ndares?/i,\n    /qu[ií]mic(?:o|a|os|as)/i,\n    /insumos? qu[ií]mic/i,\n    /solvente/i,\n    /etanol/i,\n    /isopropanol/i,\n    /hidroxido/i,\n    /hipoclorito/i,\n    /acetileno/i,\n    /\\bgases?\\b/i,\n    /kits?/i,\n    /tests? fotom[eé]tricos?/i,\n    /medios? de cultivo/i,\n    /buffer/i,\n    /calibradores?/i,\n    /controles?/i,\n    /colorantes?/i,\n  ].some((pattern) => pattern.test(haystack));\n}\n\nfunction hasLabContextSignal(haystack) {\n  return [\n    /laborator/i,\n    /microbiolog/i,\n    /fitopatolog/i,\n    /bromatolog/i,\n    /absorc[ií]on at[oó]mica/i,\n    /docencia e investigaci[oó]n/i,\n    /control de calidad/i,\n    /calidad del agua/i,\n    /aguas? residuales?/i,\n    /aguas? potables?/i,\n    /agua cruda/i,\n    /tejidos? vegetales?/i,\n    /suelos?/i,\n    /contaminantes?/i,\n  ].some((pattern) => pattern.test(haystack));\n}\n\nfunction hasNoiseSignal(haystack) {\n  return [\n    /transporte/i,\n    /estiba/i,\n    /alimentaci[oó]n/i,\n    /uniforme/i,\n    /combustible/i,\n    /extintor/i,\n    /base naval/i,\n    /base de datos/i,\n    /servidor/i,\n    /impresi[oó]n/i,\n    /fotocopi/i,\n    /outsourcing/i,\n    /agropecuar/i,\n    /agr[ií]col/i,\n    /fertiliz/i,\n    /malezas?/i,\n    /plagas?/i,\n    /[aá]reas? verdes/i,\n    /mobiliario/i,\n    /equipo inform[aá]tico/i,\n    /repuestos?/i,\n    /seguridad/i,\n    /veh[ií]culo/i,\n    /construcci[oó]n/i,\n    /servicio(?:s)? de/i,\n    /mantenimiento/i,\n    /calibraci[oó]n/i,\n    /desaduaniz/i,\n    /instrumentos? de medici[oó]n/i,\n    /aire acondicionado/i,\n    /vitrina/i,\n    /incubadora/i,\n    /centrifug/i,\n    /balanzas?/i,\n    /electrodom[eé]stic/i,\n    /accesorios? electr[oó]nic/i,\n    /invernadero/i,\n    /malla antipajaro/i,\n    /\\bsaran\\b/i,\n    /marmitas?/i,\n    /agitaci[oó]n/i,\n    /insumos generales/i,\n    /equipos? de laboratorio/i,\n    /adquisi(?:ci[oó]n)? de equipos?/i,\n  ].some((pattern) => pattern.test(haystack));\n}\n\nfunction hasPharmaSignal(haystack) {\n  return [\n    /solido oral/i,\n    /s[oó]lido oral/i,\n    /parenteral/i,\n    /ampollas?/i,\n    /c[aá]psulas?/i,\n    /tabletas?/i,\n    /comprimidos?/i,\n    /jarabe/i,\n    /mg\\/ml/i,\n  ].some((pattern) => pattern.test(haystack));\n}\n\nfunction hasMedicalSignal(haystack) {\n  return [\n    /hospital(?:es)?/i,\n    /salud/i,\n    /cl[ií]nic(?:o|a|os|as)/i,\n    /centro m[eé]dic/i,\n    /m[eé]dic(?:o|a|os|as)/i,\n    /dispositivos? m[eé]dic/i,\n    /diagn[oó]stic/i,\n    /ex[aá]menes? de laboratorio/i,\n    /pacientes?/i,\n    /serolog/i,\n    /hormonas?/i,\n    /sangu[ií]n/i,\n    /hematol[oó]g/i,\n    /bioqu[ií]mic/i,\n    /anatom[ií]a patol[oó]gica/i,\n    /laboratorio de patolog[ií]a/i,\n    /veterinari/i,\n    /hemoaglutin/i,\n    /\\b(vih|hiv)\\b/i,\n    /bcr\\s*\\/?\\s*abl/i,\n    /\\bjak2\\b/i,\n    /\\bpcr\\b/i,\n    /farmacotecnia/i,\n    /hospital del d[ií]a/i,\n    /hospitalari/i,\n    /apoyo tecnol[oó]gico/i,\n    /convenio de uso/i,\n    /pruebas? r[aá]pidas?/i,\n  ].some((pattern) => pattern.test(haystack));\n}\n\n\nfunction uniqueHits(rawHits) {\n  const deduped = new Map();\n\n  for (const hit of rawHits) {\n    const keyword = String(hit.keyword || '').trim().toLowerCase();\n    if (!keyword || deduped.has(keyword)) {\n      continue;\n    }\n\n    deduped.set(keyword, {\n      keyword,\n      weight: Number(hit.weight || 1) || 1,\n    });\n  }\n\n  return Array.from(deduped.values());\n}\n\nfunction typeScore(processType) {\n  const normalized = String(processType || '').trim();\n  if (/cat[aá]logo/i.test(normalized)) {\n    return 0;\n  }\n\n  if (/subasta inversa/i.test(normalized)) {\n    return 25;\n  }\n\n  if (/r[eé]gimen especial/i.test(normalized)) {\n    return 22;\n  }\n\n  if (/bienes y servicios [uú]nicos|bienes y servicios unicos/i.test(normalized)) {\n    return 20;\n  }\n\n  if (/infima|ínfima|necesidad|recepci[oó]n de proformas/i.test(normalized)) {\n    return 20;\n  }\n\n  if (/contrataci[oó]n|cotizaci[oó]n|licitaci[oó]n|menor cuant[ií]a/i.test(normalized)) {\n    return 18;\n  }\n\n  return normalized ? 15 : 10;\n}\n\nfunction parseDateScore(value) {\n  const timestamp = Date.parse(String(value || ''));\n  return Number.isFinite(timestamp) ? timestamp : 0;\n}\n\nfunction extractDateKey(value) {\n  const raw = String(value || '').trim();\n  if (!raw) {\n    return '';\n  }\n\n  const isoMatch = raw.match(/(\\d{4})-(\\d{2})-(\\d{2})/);\n  if (isoMatch) {\n    return isoMatch[0];\n  }\n\n  const latinMatch = raw.match(/(\\d{2})\\/(\\d{2})\\/(\\d{4})/);\n  if (latinMatch) {\n    return latinMatch[3] + '-' + latinMatch[2] + '-' + latinMatch[1];\n  }\n\n  const parsed = Date.parse(raw);\n  if (!Number.isFinite(parsed)) {\n    return '';\n  }\n\n  return new Date(parsed).toLocaleDateString('sv-SE', { timeZone: 'America/Guayaquil' });\n}\n\nfunction isCurrentDate(...values) {\n  const today = new Date().toLocaleDateString('sv-SE', { timeZone: 'America/Guayaquil' });\n  return values.some((value) => extractDateKey(value) === today);\n}\n\nconst inputs = $input.all();\nfor (let index = 0; index < inputs.length; index++) {\n  const payload = inputs[index].json;\n  const searchKeyword = String($item(index).$node['Seed Search Terms'].json.searchKeyword || '').trim().toLowerCase();\n\n  for (const row of asArray(payload)) {\n    const ocid = String(pick(row, ['ocid', 'id', 'code']) || '').trim();\n    if (!ocid) {\n      continue;\n    }\n\n    const title = String(pick(row, ['description', 'title', 'ocid']) || 'Sin titulo').trim();\n    const entity = String(pick(row, ['buyer', 'buyer_name', 'entity', 'procuringEntity']) || 'Sin entidad').trim();\n    const processType = String(pick(row, ['internal_type', 'procurementMethodDetails', 'tipo']) || 'Sin tipo').trim();\n    const publishedAt = String(pick(row, ['date', 'publishedDate', 'releaseDate']) || '').trim();\n    const deadlineAt = String(pick(row, ['tender_tenderPeriod_endDate', 'tenderPeriod_endDate', 'deadline']) || '').trim();\n\n    if (!isCurrentDate(publishedAt, deadlineAt)) {\n      continue;\n    }\n\n    const amount = asNumber(pick(row, ['amount', 'budget', 'value_amount']));\n    const detailUrl = 'https://datosabiertos.compraspublicas.gob.ec/PLATAFORMA/api/record?ocid=' + encodeURIComponent(ocid);\n    const processCode = extractProcessCode(ocid) || ocid;\n    const haystack = normalizeText([title, entity, processType, searchKeyword].join(' '));\n\n    if (!hasStrongChemistrySignal(haystack)) {\n      continue;\n    }\n\n    if (!hasLabContextSignal(haystack) && !/qu[ií]mic/i.test(haystack)) {\n      continue;\n    }\n\n    if (hasMedicalSignal(haystack) || hasNoiseSignal(haystack)) {\n      continue;\n    }\n\n    if (hasPharmaSignal(haystack)) {\n      continue;\n    }\n\n    const seededHits = searchKeyword ? [{ keyword: searchKeyword, weight: 1 }] : [];\n    const includeHits = uniqueHits(\n      includeRules.filter((rule) => haystack.includes(String(rule.keyword || '').toLowerCase())).concat(seededHits),\n    );\n    const excludeHits = uniqueHits(\n      excludeRules.filter((rule) => haystack.includes(String(rule.keyword || '').toLowerCase())),\n    );\n    const includeWeight = includeHits.reduce((sum, hit) => sum + (Number(hit.weight || 1) || 1), 0);\n    const excludeWeight = excludeHits.reduce((sum, hit) => sum + (Number(hit.weight || 1) || 1), 0);\n    const taxonomyScore = Math.max(0, Math.min(60, Math.round(includeWeight * 25) - Math.round(excludeWeight * 25)));\n    const heuristicScore = includeHits.length > 0 ? 15 : 0;\n    const previewScore = Math.max(0, Math.min(100, taxonomyScore + typeScore(processType) + heuristicScore));\n\n    if (previewScore < threshold) {\n      continue;\n    }\n\n    const current = candidates.get(ocid) || {\n      source: 'ocds',\n      external_id: ocid,\n      ocid_or_nic: ocid,\n      process_code: processCode,\n      titulo: title,\n      entidad: entity,\n      tipo: processType,\n      fecha_publicacion: publishedAt,\n      fecha_limite: deadlineAt,\n      monto_ref: amount,\n      url: detailUrl,\n      initial_keywords: [],\n      candidate_payload: row,\n      preview_score: previewScore,\n    };\n\n    if (searchKeyword && !current.initial_keywords.includes(searchKeyword)) {\n      current.initial_keywords.push(searchKeyword);\n    }\n\n    current.preview_score = Math.max(current.preview_score || 0, previewScore);\n\n    if (!current.fecha_publicacion) {\n      current.fecha_publicacion = publishedAt;\n    }\n\n    if (!current.fecha_limite) {\n      current.fecha_limite = deadlineAt;\n    }\n\n    if (current.monto_ref === null && amount !== null) {\n      current.monto_ref = amount;\n    }\n\n    candidates.set(ocid, current);\n  }\n}\n\nreturn Array.from(candidates.values())\n  .sort((left, right) => {\n    if ((right.preview_score || 0) !== (left.preview_score || 0)) {\n      return (right.preview_score || 0) - (left.preview_score || 0);\n    }\n\n    return parseDateScore(right.fecha_publicacion) - parseDateScore(left.fecha_publicacion);\n  })\n  .slice(0, 25)\n  .map((candidate) => ({ json: candidate }));"
      },
      "id": "d0fc2f9f-4f1d-4c14-9f68-9d298b2f7d05",
      "name": "Normalize Search Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const threshold = Number($env.MATCH_THRESHOLD || 60);\nconst rules = $items('Load Keyword Rules').map((item) => item.json);\nconst includeRules = rules.filter((rule) => String(rule.rule_type || '') === 'include');\nconst excludeRules = rules.filter((rule) => String(rule.rule_type || '') === 'exclude');\nconst typeWeights = {\n  'Subasta Inversa Electrónica': 25,\n  'Subasta Inversa Electronica': 25,\n  'Ínfimas Cuantías': 20,\n  'Infima Cuantia': 20,\n  'Necesidades de Contratación y Recepción de Proformas': 20,\n  'Necesidades de Contratacion y Recepcion de Proformas': 20,\n  'Bienes y Servicios únicos': 20,\n  'Bienes y Servicios unicos': 20,\n  'Régimen Especial': 22,\n  'Regimen Especial': 22,\n  'Menor Cuantía': 18,\n  'Menor Cuantia': 18,\n  'Cotización': 18,\n  'Cotizacion': 18,\n};\n\nfunction sqlText(value) {\n  return String(value ?? '').replace(/'/g, \"''\");\n}\n\nfunction sqlNumber(value) {\n  if (value === null || value === undefined || value === '') {\n    return 'NULL';\n  }\n\n  const parsed = Number(value);\n  return Number.isFinite(parsed) ? String(parsed) : 'NULL';\n}\n\nfunction normalizeText(value) {\n  return String(value ?? '').toLowerCase();\n}\n\nfunction normalizeProcessCode(value) {\n  const raw = String(value || '').trim();\n  return /-\\d{3,}$/.test(raw) ? raw.replace(/-\\d{3,}$/, '') : raw;\n}\n\n\nfunction hasStrongChemistrySignal(haystack) {\n  return [\n    /reactiv/i,\n    /reagent/i,\n    /insumos?/i,\n    /material(?:es)? de laboratorio/i,\n    /material(?:es)? de referencia/i,\n    /est[aá]ndares?/i,\n    /qu[ií]mic(?:o|a|os|as)/i,\n    /insumos? qu[ií]mic/i,\n    /solvente/i,\n    /etanol/i,\n    /isopropanol/i,\n    /hidroxido/i,\n    /hipoclorito/i,\n    /acetileno/i,\n    /\\bgases?\\b/i,\n    /kits?/i,\n    /tests? fotom[eé]tricos?/i,\n    /medios? de cultivo/i,\n    /buffer/i,\n    /calibradores?/i,\n    /controles?/i,\n    /colorantes?/i,\n  ].some((pattern) => pattern.test(haystack));\n}\n\nfunction hasLabContextSignal(haystack) {\n  return [\n    /laborator/i,\n    /microbiolog/i,\n    /fitopatolog/i,\n    /bromatolog/i,\n    /absorc[ií]on at[oó]mica/i,\n    /docencia e investigaci[oó]n/i,\n    /control de calidad/i,\n    /calidad del agua/i,\n    /aguas? residuales?/i,\n    /aguas? potables?/i,\n    /agua cruda/i,\n    /tejidos? vegetales?/i,\n    /suelos?/i,\n    /contaminantes?/i,\n  ].some((pattern) => pattern.test(haystack));\n}\n\nfunction hasNoiseSignal(haystack) {\n  return [\n    /transporte/i,\n    /estiba/i,\n    /alimentaci[oó]n/i,\n    /uniforme/i,\n    /combustible/i,\n    /extintor/i,\n    /base naval/i,\n    /base de datos/i,\n    /servidor/i,\n    /impresi[oó]n/i,\n    /fotocopi/i,\n    /outsourcing/i,\n    /agropecuar/i,\n    /agr[ií]col/i,\n    /fertiliz/i,\n    /malezas?/i,\n    /plagas?/i,\n    /[aá]reas? verdes/i,\n    /mobiliario/i,\n    /equipo inform[aá]tico/i,\n    /repuestos?/i,\n    /seguridad/i,\n    /veh[ií]culo/i,\n    /construcci[oó]n/i,\n    /servicio(?:s)? de/i,\n    /mantenimiento/i,\n    /calibraci[oó]n/i,\n    /desaduaniz/i,\n    /instrumentos? de medici[oó]n/i,\n    /aire acondicionado/i,\n    /vitrina/i,\n    /incubadora/i,\n    /centrifug/i,\n    /balanzas?/i,\n    /electrodom[eé]stic/i,\n    /accesorios? electr[oó]nic/i,\n    /invernadero/i,\n    /malla antipajaro/i,\n    /\\bsaran\\b/i,\n    /marmitas?/i,\n    /agitaci[oó]n/i,\n    /insumos generales/i,\n    /equipos? de laboratorio/i,\n    /adquisi(?:ci[oó]n)? de equipos?/i,\n  ].some((pattern) => pattern.test(haystack));\n}\n\nfunction hasPharmaSignal(haystack) {\n  return [\n    /solido oral/i,\n    /s[oó]lido oral/i,\n    /parenteral/i,\n    /ampollas?/i,\n    /c[aá]psulas?/i,\n    /tabletas?/i,\n    /comprimidos?/i,\n    /jarabe/i,\n    /mg\\/ml/i,\n  ].some((pattern) => pattern.test(haystack));\n}\n\nfunction hasMedicalSignal(haystack) {\n  return [\n    /hospital(?:es)?/i,\n    /salud/i,\n    /cl[ií]nic(?:o|a|os|as)/i,\n    /centro m[eé]dic/i,\n    /m[eé]dic(?:o|a|os|as)/i,\n    /dispositivos? m[eé]dic/i,\n    /diagn[oó]stic/i,\n    /ex[aá]menes? de laboratorio/i,\n    /pacientes?/i,\n    /serolog/i,\n    /hormonas?/i,\n    /sangu[ií]n/i,\n    /hematol[oó]g/i,\n    /bioqu[ií]mic/i,\n    /anatom[ií]a patol[oó]gica/i,\n    /laboratorio de patolog[ií]a/i,\n    /veterinari/i,\n    /hemoaglutin/i,\n    /\\b(vih|hiv)\\b/i,\n    /bcr\\s*\\/?\\s*abl/i,\n    /\\bjak2\\b/i,\n    /\\bpcr\\b/i,\n    /farmacotecnia/i,\n    /hospital del d[ií]a/i,\n    /hospitalari/i,\n    /apoyo tecnol[oó]gico/i,\n    /convenio de uso/i,\n    /pruebas? r[aá]pidas?/i,\n  ].some((pattern) => pattern.test(haystack));\n}\n\n\nfunction typeScore(processType) {\n  const normalized = String(processType || '').trim();\n  if (/contrataci[oó]n/i.test(normalized)) {\n    return Math.max(typeWeights[normalized] ?? 0, 18);\n  }\n\n  return typeWeights[normalized] ?? (normalized ? 15 : 10);\n}\n\nfunction extractDateKey(value) {\n  const raw = String(value || '').trim();\n  if (!raw) {\n    return '';\n  }\n\n  const isoMatch = raw.match(/(\\d{4})-(\\d{2})-(\\d{2})/);\n  if (isoMatch) {\n    return isoMatch[0];\n  }\n\n  const latinMatch = raw.match(/(\\d{2})\\/(\\d{2})\\/(\\d{4})/);\n  if (latinMatch) {\n    return latinMatch[3] + '-' + latinMatch[2] + '-' + latinMatch[1];\n  }\n\n  const parsed = Date.parse(raw);\n  if (!Number.isFinite(parsed)) {\n    return '';\n  }\n\n  return new Date(parsed).toLocaleDateString('sv-SE', { timeZone: 'America/Guayaquil' });\n}\n\nfunction isCurrentDate(...values) {\n  const today = new Date().toLocaleDateString('sv-SE', { timeZone: 'America/Guayaquil' });\n  return values.some((value) => extractDateKey(value) === today);\n}\n\nfunction uniqueHits(rawHits) {\n  const deduped = new Map();\n\n  for (const hit of rawHits) {\n    const keyword = String(hit.keyword || '').trim().toLowerCase();\n    if (!keyword || deduped.has(keyword)) {\n      continue;\n    }\n\n    deduped.set(keyword, {\n      keyword,\n      family: hit.family || null,\n      weight: Number(hit.weight || 1) || 1,\n    });\n  }\n\n  return Array.from(deduped.values());\n}\n\nconst out = [];\nfor (const input of $input.all()) {\n  const candidate = input.json;\n  const title = String(candidate.titulo || candidate.ocid_or_nic || 'Sin titulo').trim();\n  const entity = String(candidate.entidad || 'Sin entidad').trim();\n  const processType = String(candidate.tipo || 'Sin tipo').trim();\n  const publishedAt = String(candidate.fecha_publicacion || '').trim();\n  const deadlineAt = String(candidate.fecha_limite || '').trim();\n\n  if (!isCurrentDate(publishedAt, deadlineAt)) {\n    continue;\n  }\n\n  const amount = candidate.monto_ref ?? null;\n  const processCode = normalizeProcessCode(candidate.process_code || candidate.ocid_or_nic);\n  const currency = String(candidate.moneda || 'USD').trim() || 'USD';\n  const haystack = normalizeText([\n    title,\n    entity,\n    processType,\n    ...(Array.isArray(candidate.initial_keywords) ? candidate.initial_keywords : []),\n    JSON.stringify(candidate.candidate_payload || {}),\n  ].join(' '));\n\n  if (!hasStrongChemistrySignal(haystack)) {\n    continue;\n  }\n\n  if (!hasLabContextSignal(haystack) && !/qu[ií]mic/i.test(haystack)) {\n    continue;\n  }\n\n  if (hasMedicalSignal(haystack) || hasNoiseSignal(haystack)) {\n    continue;\n  }\n\n  if (hasPharmaSignal(haystack)) {\n    continue;\n  }\n\n  const seededHits = Array.isArray(candidate.initial_keywords)\n    ? candidate.initial_keywords.map((keyword) => ({ keyword, weight: 1 }))\n    : [];\n  const includeHits = uniqueHits(\n    includeRules.filter((rule) => haystack.includes(String(rule.keyword || '').toLowerCase())).concat(seededHits),\n  );\n  const excludeHits = uniqueHits(\n    excludeRules.filter((rule) => haystack.includes(String(rule.keyword || '').toLowerCase())),\n  );\n  const includeWeight = includeHits.reduce((sum, hit) => sum + (Number(hit.weight || 1) || 1), 0);\n  const excludeWeight = excludeHits.reduce((sum, hit) => sum + (Number(hit.weight || 1) || 1), 0);\n  const taxonomyScore = Math.max(0, Math.min(60, Math.round(includeWeight * 25) - Math.round(excludeWeight * 25)));\n  const heuristicScore = includeHits.length > 0 ? 15 : 0;\n  const matchScore = Math.max(0, Math.min(100, taxonomyScore + typeScore(processType) + heuristicScore));\n\n  if (matchScore < threshold) {\n    continue;\n  }\n\n  const recommendation = 'revisar';\n  const rawPayload = {\n    source: 'ocds',\n    candidate: candidate.candidate_payload || candidate,\n    keywords: candidate.initial_keywords || [],\n  };\n\n  out.push({\n    json: {\n      source: 'ocds',\n      external_id: candidate.external_id,\n      ocid_or_nic: candidate.ocid_or_nic,\n      process_code: processCode,\n      titulo: title,\n      entidad: entity,\n      tipo: processType,\n      fecha_publicacion: publishedAt,\n      fecha_limite: deadlineAt,\n      monto_ref: amount,\n      moneda: currency,\n      url: candidate.url,\n      invited_company_name: null,\n      is_invited_match: false,\n      keywords_hit: includeHits.map((hit) => hit.keyword),\n      keywords_hit_csv: includeHits.map((hit) => hit.keyword).join(','),\n      match_score: matchScore,\n      ai_score: 0,\n      recomendacion: recommendation,\n      estado: 'nuevo',\n      vendedor: '',\n      resultado: '',\n      raw_payload_string: sqlText(JSON.stringify(rawPayload)),\n      source_sql: sqlText('ocds'),\n      external_id_sql: sqlText(candidate.external_id),\n      ocid_or_nic_sql: sqlText(candidate.ocid_or_nic),\n      process_code_sql: sqlText(processCode),\n      titulo_sql: sqlText(title),\n      entidad_sql: sqlText(entity),\n      tipo_sql: sqlText(processType),\n      fecha_publicacion_sql: sqlText(publishedAt),\n      fecha_limite_sql: sqlText(deadlineAt),\n      monto_ref_sql: sqlNumber(amount),\n      moneda_sql: sqlText(currency || 'USD'),\n      url_sql: sqlText(candidate.url),\n      invited_company_name_sql: '',\n      recomendacion_sql: sqlText(recommendation),\n      is_invited_match_sql: 'FALSE',\n    },\n  });\n}\n\nreturn out;"
      },
      "id": "d0fc2f9f-4f1d-4c14-9f68-9d298b2f7d07",
      "name": "Score Filter Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO opportunities (\n  source,\n  external_id,\n  ocid_or_nic,\n  process_code,\n  titulo,\n  entidad,\n  tipo,\n  fecha_publicacion,\n  fecha_limite,\n  monto_ref,\n  moneda,\n  url,\n  invited_company_name,\n  is_invited_match,\n  keywords_hit,\n  match_score,\n  ai_score,\n  recomendacion,\n  estado,\n  vendedor,\n  resultado,\n  raw_payload\n) VALUES (\n  '{{$json.source_sql}}',\n  '{{$json.external_id_sql}}',\n  '{{$json.ocid_or_nic_sql}}',\n  '{{$json.process_code_sql}}',\n  '{{$json.titulo_sql}}',\n  '{{$json.entidad_sql}}',\n  '{{$json.tipo_sql}}',\n  CASE WHEN '{{$json.fecha_publicacion_sql}}' = '' THEN NULL ELSE '{{$json.fecha_publicacion_sql}}'::timestamptz END,\n  CASE WHEN '{{$json.fecha_limite_sql}}' = '' THEN NULL ELSE '{{$json.fecha_limite_sql}}'::timestamptz END,\n  {{$json.monto_ref_sql}},\n  '{{$json.moneda_sql}}',\n  '{{$json.url_sql}}',\n  CASE WHEN {{$json.is_invited_match_sql}} THEN '{{$json.invited_company_name_sql}}' ELSE NULL END,\n  {{$json.is_invited_match_sql}},\n  CASE WHEN '{{$json.keywords_hit_csv}}' = '' THEN ARRAY[]::text[] ELSE string_to_array('{{$json.keywords_hit_csv}}', ',') END,\n  {{$json.match_score}},\n  {{$json.ai_score}},\n  '{{$json.recomendacion_sql}}',\n  '{{$json.estado}}',\n  '{{$json.vendedor}}',\n  '{{$json.resultado}}',\n  '{{$json.raw_payload_string}}'::jsonb\n)\nON CONFLICT (source, external_id)\nDO UPDATE SET\n  process_code = COALESCE(NULLIF(EXCLUDED.process_code, ''), opportunities.process_code),\n  titulo = EXCLUDED.titulo,\n  entidad = EXCLUDED.entidad,\n  tipo = EXCLUDED.tipo,\n  fecha_publicacion = EXCLUDED.fecha_publicacion,\n  fecha_limite = EXCLUDED.fecha_limite,\n  monto_ref = COALESCE(EXCLUDED.monto_ref, opportunities.monto_ref),\n  moneda = COALESCE(NULLIF(EXCLUDED.moneda, ''), opportunities.moneda),\n  url = EXCLUDED.url,\n  invited_company_name = CASE\n    WHEN EXCLUDED.is_invited_match THEN EXCLUDED.invited_company_name\n    ELSE opportunities.invited_company_name\n  END,\n  is_invited_match = opportunities.is_invited_match OR EXCLUDED.is_invited_match,\n  keywords_hit = EXCLUDED.keywords_hit,\n  match_score = EXCLUDED.match_score,\n  recomendacion = EXCLUDED.recomendacion,\n  raw_payload = EXCLUDED.raw_payload,\n  updated_at = NOW()\nRETURNING\n  id,\n  source,\n  external_id,\n  titulo,\n  entidad,\n  tipo,\n  url,\n  match_score,\n  fecha_limite,\n  invited_company_name,\n  is_invited_match,\n  keywords_hit,\n  recomendacion,\n  estado,\n  (xmax = 0) AS was_inserted;"
      },
      "id": "d0fc2f9f-4f1d-4c14-9f68-9d298b2f7d08",
      "name": "Upsert Opportunity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1820,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "QX2Kr6LtP0sGmA1b",
          "name": "Local Postgres CRM"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input\n  .all()\n  .filter((item) => Boolean(item.json.was_inserted) && Boolean(item.json.is_invited_match));"
      },
      "id": "d0fc2f9f-4f1d-4c14-9f68-9d298b2f7d09",
      "name": "Filter Email Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        320
      ]
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "send",
        "fromEmail": "={{$env.SMTP_FROM}}",
        "toEmail": "={{$env.RESPONSIBLE_EMAIL}}",
        "subject": "=SERCOP/OCDS {{ $json.tipo }} :: {{ $json.titulo }}",
        "emailFormat": "html",
        "html": "= <p><strong>Nuevo proceso OCDS confirmado para HDM</strong></p><p><strong>Titulo:</strong> {{$json.titulo}}</p><p><strong>Entidad:</strong> {{$json.entidad}}</p><p><strong>Tipo:</strong> {{$json.tipo}}</p><p><strong>Score:</strong> {{$json.match_score}}</p><p><strong>Fecha limite:</strong> {{$json.fecha_limite || \"No visible\"}}</p><p><strong>URL:</strong> <a href=\"{{$json.url}}\">{{$json.url}}</a></p><p><strong>Keywords:</strong> {{ Array.isArray($json.keywords_hit) ? $json.keywords_hit.join(\", \") : $json.keywords_hit }}</p>"
      },
      "id": "d0fc2f9f-4f1d-4c14-9f68-9d298b2f7d10",
      "name": "Email Responsible",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2340,
        320
      ],
      "credentials": {
        "smtp": {
          "id": "Sm7Ny4BcT2rVhP8q",
          "name": "Local SMTP Mailpit"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load Keyword Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Load Keyword Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Keyword Rules": {
      "main": [
        [
          {
            "node": "Seed Search Terms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seed Search Terms": {
      "main": [
        [
          {
            "node": "Fetch OCDS Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch OCDS Search": {
      "main": [
        [
          {
            "node": "Normalize Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Search Results": {
      "main": [
        [
          {
            "node": "Score Filter Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Filter Prepare": {
      "main": [
        [
          {
            "node": "Upsert Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Opportunity": {
      "main": [
        [
          {
            "node": "Filter Email Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Email Candidates": {
      "main": [
        [
          {
            "node": "Email Responsible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1e1c29e4-d4d8-4b8c-b28d-5c2b2614a101",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "active": true,
  "tags": [],
  "id": "1001"
}
