workflows/04_sercop_chat.json
{
  "name": "04 SERCOP Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat/sercop",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "webhookId": "chat-sercop"
    },
    {
      "parameters": {
        "jsCode": "const b=$json.body||$json;\nconst q=(b.question||b.pregunta||b.message||'').trim();\nif(!q)return[{json:{ok:false,error:'Debes enviar question, pregunta o message.'}}];\nreturn[{json:{question:q,embed:{model:$env.OLLAMA_EMBED_MODEL||'nomic-embed-text',input:q}}}];"
      },
      "id": "a2",
      "name": "Build Embed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/embed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.embed}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "a3",
      "name": "Embed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const v = Array.isArray($json.embeddings) ? $json.embeddings[0] : [];\nconst q = $item(0).$node['Build Embed'].json.question;\nreturn [{ json: { question: q, qdrant: { query: v, limit: 3, with_payload: true } } }];"
      },
      "id": "a4",
      "name": "Build Qdrant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/sercop_docs/points/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.qdrant}}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a5",
      "name": "Qdrant Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const rawPts = $json.result?.points || $json.result || [];\nconst q = $item(0).$node['Build Qdrant'].json.question;\nconst qLower = q.toLowerCase();\nconst seen = new Set();\nconst pts = rawPts.filter((p) => {\n  const source = p.payload?.source_url || p.payload?.url || 'sin_fuente';\n  if (seen.has(source)) return false;\n  seen.add(source);\n  return true;\n}).slice(0, 2);\nconst sources = pts.map((p) => p.payload?.source_url || p.payload?.url || 'sin_fuente');\nconst snippets = pts.map((p, i) => {\n  const source = p.payload?.source_url || p.payload?.url || 'sin_fuente';\n  const text = String(p.payload?.text || p.payload?.chunk || p.payload?.content || '').replace(/\\s+/g, ' ').trim().slice(0, 700);\n  return `Fuente ${i + 1}: ${source}. ${text}`;\n});\nconst combined = snippets.join(' ').toLowerCase();\nconst hits = ['reactivo', 'quimico', 'laboratorio', 'desinfectante', 'subasta', 'infima', 'proforma'].filter((token) => combined.includes(token));\nlet answer = 'No hay contexto local suficiente para responder con precision. Carga mas documentos del proceso o consulta el OCID/NIC exacto.';\nif (snippets.length) {\n  if (/participar|conviene|oportunidad|ofertar/.test(qLower)) {\n    const stance = hits.length >= 2 ? 'hay senales favorables para revisar participacion' : 'todavia se requiere validacion comercial y tecnica';\n    answer = `Respuesta basada en la base local. Con el contexto recuperado, ${stance}. Coincidencias detectadas: ${hits.join(', ') || 'sin coincidencias claras'}. ${snippets.join(' ')}`;\n  } else {\n    answer = `Respuesta basada en la base local. ${snippets.join(' ')}`;\n  }\n}\nreturn [{ json: { ok: true, mode: 'rag_rules_fallback', answer, sources } }];"
      },
      "id": "a6",
      "name": "Build Chat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.answer) {\n  return [{ json: { ok: $json.ok ?? true, mode: $json.mode || 'rag_rules_fallback', answer: $json.answer, sources: $json.sources || [] } }];\n}\nreturn [{ json: { ok: true, mode: 'ollama', answer: $json.message?.content || $json.response || 'Sin respuesta del modelo', sources: $item(0).$node['Build Chat'].json.sources || [] } }];"
      },
      "id": "a8",
      "name": "Shape Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a9",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        2320,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Embed": {
      "main": [
        [
          {
            "node": "Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed": {
      "main": [
        [
          {
            "node": "Build Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Qdrant": {
      "main": [
        [
          {
            "node": "Qdrant Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Query": {
      "main": [
        [
          {
            "node": "Build Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chat": {
      "main": [
        [
          {
            "node": "Shape Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d0de617-f66c-4c8a-a427-9db6aa5f0104",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "active": false,
  "tags": [],
  "id": "1004"
}
