workflows/05_programming_chat.json
{
  "name": "05 Programming Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat/code",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "webhookId": "chat-code"
    },
    {
      "parameters": {
        "jsCode": "const b=$json.body||$json;\nconst q=(b.question||b.pregunta||b.message||'').trim();\nif(!q)return[{json:{ok:false,error:'Debes enviar question, pregunta o message.'}}];\nreturn[{json:{question:q,embed:{model:$env.OLLAMA_EMBED_MODEL||'nomic-embed-text',input:q}}}];"
      },
      "id": "b2",
      "name": "Build Embed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/embed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.embed}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "b3",
      "name": "Embed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const v = Array.isArray($json.embeddings) ? $json.embeddings[0] : [];\nconst q = $item(0).$node['Build Embed'].json.question;\nreturn [{ json: { question: q, qdrant: { query: v, limit: 3, with_payload: true } } }];"
      },
      "id": "b4",
      "name": "Build Qdrant",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/code_kb/points/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.qdrant}}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "b5",
      "name": "Qdrant Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const rawPts = $json.result?.points || $json.result || [];\nconst q = $item(0).$node['Build Qdrant'].json.question;\nconst qLower = q.toLowerCase();\nconst seen = new Set();\nconst pts = rawPts.filter((p) => {\n  const source = p.payload?.source_url || p.payload?.url || 'sin_fuente';\n  if (seen.has(source)) return false;\n  seen.add(source);\n  return true;\n}).slice(0, 2);\nconst sources = pts.map((p) => p.payload?.source_url || p.payload?.url || 'sin_fuente');\nconst snippets = pts.map((p, i) => {\n  const source = p.payload?.source_url || p.payload?.url || 'sin_fuente';\n  const text = String(p.payload?.text || p.payload?.chunk || p.payload?.content || '').replace(/\\s+/g, ' ').trim().slice(0, 700);\n  return `Fuente ${i + 1}: ${source}. ${text}`;\n});\nlet answer = 'No hay contexto tecnico suficiente en la base local. Agrega mas conocimiento en knowledge/code o formula la pregunta con mas detalle.';\nif (snippets.length) {\n  if (/que es n8n|qué es n8n/.test(qLower)) {\n    answer = `n8n es un orquestador de automatizaciones basado en flujos. En esta instalacion trabaja junto con PostgreSQL, Qdrant, Ollama y ngrok. ${snippets.join(' ')}`;\n  } else if (/docker|compose|contenedor/.test(qLower)) {\n    answer = `La base local indica que el stack usa Docker Compose con servicios n8n, postgres, qdrant, ollama y ngrok. ${snippets.join(' ')}`;\n  } else {\n    answer = `Respuesta basada en la base tecnica local. ${snippets.join(' ')}`;\n  }\n}\nreturn [{ json: { ok: true, mode: 'rag_rules_fallback', answer, sources } }];"
      },
      "id": "b6",
      "name": "Build Chat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.answer) {\n  return [{ json: { ok: $json.ok ?? true, mode: $json.mode || 'rag_rules_fallback', answer: $json.answer, sources: $json.sources || [] } }];\n}\nreturn [{ json: { ok: true, mode: 'ollama', answer: $json.message?.content || $json.response || 'Sin respuesta del modelo', sources: $item(0).$node['Build Chat'].json.sources || [] } }];"
      },
      "id": "b8",
      "name": "Shape Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b9",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        2320,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Embed": {
      "main": [
        [
          {
            "node": "Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed": {
      "main": [
        [
          {
            "node": "Build Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Qdrant": {
      "main": [
        [
          {
            "node": "Qdrant Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Query": {
      "main": [
        [
          {
            "node": "Build Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chat": {
      "main": [
        [
          {
            "node": "Shape Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shape Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d0de617-f66c-4c8a-a427-9db6aa5f0105",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "active": false,
  "tags": [],
  "id": "1005"
}
